@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

body {
    background-color: burlywood;
    font-family: sans-serif;
}


h1 {
    color: darkgreen;
    text-align: center;
    font-size: 30px;
    font-family: 'Noto Sans JP', sans-serif;
    
}
h2 {
    color: brown;
}

h3 {
    color: indianred;
}